* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container h1 {
    font-size: 3rem;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100px;
    gap: 10px;
}

#search-inp {
    width: 80%;
    height: 35px;
}

table {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table thead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: lightgrey;
    border-radius: 5px;
}

table thead tr {
    width: 100%;
    display: flex;
}

table thead tr th {
    width: 50%;
}

table tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

table tbody tr {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 40px;
    border-bottom: 1px solid grey;
    border-radius: 5px;
}

table tbody tr:nth-child(even) {
    background-color: lightblue;
}